@font-face {
    font-family: 'Asap';
    src: url('fonts/asap-regular-webfont.eot');
    src: url('fonts/asap-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/asap-regular-webfont.woff2') format('woff2'),
         url('fonts/asap-regular-webfont.woff') format('woff'),
         url('fonts/asap-regular-webfont.ttf') format('truetype'),
         url('fonts/asap-regular-webfont.svg#asapregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Asap';
    src: url('fonts/asap-bold-webfont.eot');
    src: url('fonts/asap-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/asap-bold-webfont.woff2') format('woff2'),
         url('fonts/asap-bold-webfont.woff') format('woff'),
         url('fonts/asap-bold-webfont.ttf') format('truetype'),
         url('fonts/asap-bold-webfont.svg#asapbold') format('svg');
    font-weight: bold;
    font-style: normal;

}
// Mobile first
body {
    background-color: gray;
    font-family: 'Asap';
    background-image: url(../images/bg.png);
    color: #333333;
}

h1 {
    font-size: 2.2em;
    margin-bottom: 0.455em;
}
h3 {
    font-weight: bold;
    // margin-bottom: 1em;
}
p {
    margin-bottom: 1em;
}
a {
    color: #333333;
    // text-decoration: none;
    &:active {
        outline: none;
    }
}
.tel a, a.tel {
    text-decoration: none;
    cursor: default;
}
button:focus {
    outline:none;
}

.about {
    padding: 20px;
}

.adr {
    span {
        display: block;
        margin: 0.33em 0;
    }
}

header {
    background-color: #FFFFFF;
    padding: 20px 0 20px 0;
    .logo {
        width: 87.5%;
        max-width: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.hero {
    background-color: #000000;
    position: relative;
    margin-bottom: 1em;
    // box-shadow: 0px -2px 40px 0px rgba(0, 0, 0, 0.7);
    .tagline {
        position: absolute;
    }
}
.about {
    max-width: 887px;
    margin-left: auto;
    margin-right: auto;
}

.join {
    p.error {
        color: #AA0000;
        input {
            border-color: #AA0000;
        }
    }
    .hint {
        font-size: 0.9em;
        padding: 0.4em 0;
    }
    input {
        width: 100%;
    }
    button.submit {
        background-color: white;
        border: 1px solid #999999;
        border-radius: 4px;
        box-shadow: 1px 2px 5px rgba(0,0,0,0.1);
        padding: 0.5em 1em;
        font-family: 'Asap';
        font-size: 0.9em;
        width: auto;
    }
}

.breakpoints {
    // display: none;
    position: absolute;
    z-index: 999999;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    .breakpoint {
        color: white;
        display: none;
        &.portrait {
            display: block;
        }
    }
}

// Larger than portrait iphone 6
@media (min-width: 376px) {
    .breakpoints .breakpoint {
        &.portrait {
            display: none;
        }
        &.landscape {
            display: block;
        }
    }
}

@media (min-width: 578px) {
    .hero {
        .feature {
            max-width: 50%;
        }
        .tagline {
            max-width: 50%;
            position: absolute;
            right: 0;
        }
    }
    .join {
        input {
            width: auto;
        }
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .breakpoints .breakpoint {
        &.portrait, &.landscape {
            display: none;
        }
        &.tablet {
            display: block;
        }
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 922px) {
    .breakpoints .breakpoint {
        &.portrait, &.landscape, &.tablet {
            display: none;
        }
        &.desktop {
            display: block;
        }
    }
    .restrictor {
        width:922px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
}